<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499416246374-p7en37f1mnskd7tml563qkbcsiger7tv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499416246374-p7en37f1mnskd7tml563qkbcsiger7tv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>499416246374-hfp9pobom42em7m9844gak3272l0ucn4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBS0fFAP_l4qT8IiqoDHrpWyPTAuFnRIe4</string>
	<key>GCM_SENDER_ID</key>
	<string>499416246374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fone.filmone</string>
	<key>PROJECT_ID</key>
	<string>filmone-c3f49</string>
	<key>STORAGE_BUCKET</key>
	<string>filmone-c3f49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499416246374:ios:7593a351739dd3706725a7</string>
</dict>
</plist>